@font-face {
  font-family: 'Ruberoid';
  src: url('../../assets/fonts/Ruberoid-Regular.otf') format('opentype');
  font-weight: 400; font-style: normal; font-display: swap;
}
@font-face {
  font-family: 'Ruberoid';
  src: url('../../assets/fonts/Ruberoid-Medium.otf') format('opentype');
  font-weight: 500; font-style: normal; font-display: swap;
}
@font-face {
  font-family: 'Ruberoid';
  src: url('../../assets/fonts/Ruberoid-SemiBold.otf') format('opentype');
  font-weight: 600; font-style: normal; font-display: swap;
}
@font-face {
  font-family: 'Ruberoid';
  src: url('../../assets/fonts/Ruberoid-Bold.otf') format('opentype');
  font-weight: 700; font-style: normal; font-display: swap;
}
@font-face {
  font-family: 'Ruberoid';
  src: url('../../assets/fonts/Ruberoid-ExtraBold.otf') format('opentype');
  font-weight: 800; font-style: normal; font-display: swap;
}
